asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
Django==3.1.6
django-environ==0.4.5
django-google-maps==0.12.2
environs==9.3.1
httplib2==0.19.0
idna==2.10
marshmallow==3.10.0
oauth2==1.9.0.post1
Pillow==8.1.0
pyparsing==2.4.7
python-dotenv==0.15.0
pytz==2021.1
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.3
yelp==1.0.2
yelpapi==2.4.0
